{% import 'apostrophe-ui:components/buttons.html' as buttons with context %}
{% import 'apostrophe-ui:components/dropdowns.html' as dropdowns with context %}

{{ buttons.minor('', {action: 'reloadTable', icon: 'refresh'}) }}

{{ dropdowns.base({
    label : 'Upload',
    items: [
        { label: 'CSV', action: 'loadCSV' },
        { label: 'JSON', action: 'loadJSON' },
        { label: 'Txt', action: 'loadTxt' }
    ]
}, 'button',
{
    direction: 'down',
    class: 'arrow-down'
}) }}

{% if apos.dynamicTable.checkSchema({ type: 'custom-code-editor' } ,data.schema) %}
    {{ dropdowns.base({
        label : 'Download',
        items: [
            { label: 'CSV', action: 'downloadCSV' },
            { label: 'JSON', action: 'downloadJSON' },
            { label: 'Xlsx', action: 'downloadXlsx' },
            { label: 'PDF Potrait', action: 'downloadPDFPotrait' },
            { label: 'PDF Landscape', action: 'downloadPDFLandscape' }
        ]
    }, 'button',
    {
        direction: 'down',
        class: 'arrow-down'
    }) }}

    {{ dropdowns.base({
        label : 'Reset',
        items: [
            { label: 'Callbacks', action: 'resetCallbacks' },
            { label: 'Options', action: 'resetOptions' }
        ]
    }, 'button',
    {
        direction: 'down',
        class: 'arrow-down'
    }) }}
{% endif %}