{% extends "editorBase.html" %}
{% import "dynamic-table-widgets:macros/tableFields.html" as myCustomSchemas %}

{%- block controls -%}
    {# Custom button #}
    {% include "tabulator/customButtonControls.html" %}

    {# The standard controls #}
    {{ super() }}
{%- endblock -%}

{%- block body -%}
    <form class="apos-form" data-apos-form>
        {# Use my custom tableFields Schemas Views #}
        {{ myCustomSchemas.tableFields(data.schema) }}
    </form>
    {% include "tabulator/scriptsDownload.html" %}
{%- endblock -%}