{% import "apostrophe-ui:components/buttons.html" as buttons with context %}
{% if data.value.length > 0 %}
<p>{{ data.total }} Callbacks</p>
{{ buttons.base('Reset Callbacks', { action: 'resetCallbacks', tooltip: 'Press the button to reset callback for this table'}, 'reset-callbacks ' + data.id) }}
{% elif data.value.length < 0 or not data.value %}
<p>No callbacks setup</p>
{% endif %}

<script>
    apos.on('ready', function() {
        var button = document.body.querySelector('button.reset-callbacks.{{ data.id }}');
        var link = button.parentElement;
        debugger;
        link.style.pointerEvents = 'none';
        link.style.cursor = 'default';
    })
</script>